In [17]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import functions as f
from pyspark.sql import types as t
from pyspark.sql.window import Window

In [3]:
spark = (
    SparkSession
    .builder
    .appName("War Survival Data Analysis")
    .master("local[*]")
    .config('spark.sql.adaptive.enabled', 'true')
    .getOrCreate()
)

24/05/05 15:48:06 WARN Utils: Your hostname, codespaces-0d4183 resolves to a loopback address: 127.0.0.1; using 172.16.5.4 instead (on interface eth0)
24/05/05 15:48:06 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/05/05 15:48:07 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/05/05 15:48:20 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

In [6]:
war_survival_df = (
    spark
    .read
    .option('header', 'true')
    .csv("../input_data/war_survival_data.csv")
)
war_survival_df.show(5)

+-------+---+------------------+----------------------+--------------+-----------+-----------+-----------------+--------------------+--------------+----------------+------------------------------+------------------------+-----------------------+
|   Name|Age|Food Supply (Days)|Water per Day (Liters)|First Aid Kits|Antibiotics|Painkillers|Weapons Available|Defensive Structures|Training Level|Radios Available|Access to Reliable Information|Support Groups Available|Entertainment Available|
+-------+---+------------------+----------------------+--------------+-----------+-----------+-----------------+--------------------+--------------+----------------+------------------------------+------------------------+-----------------------+
| Sophia| 43|                13|     4.150040328218717|             4|         10|         21|               21|                   5|             2|              15|                            No|                     Yes|                  Books|
|   Emma| 35|                10|     3.127284936298381|            10|         16|          8|               30|                   7|             3|              12|                            No|                     Yes|                  Games|
| Sophia| 30|                14|    3.5291192937444658|             4|         13|         23|               76|                   8|             3|              11|                           Yes|                      No|                  Books|
|  James| 53|                16|     4.840360726746758|            10|         14|         10|               60|                   4|             2|              16|                            No|                      No|                  Games|
|Michael| 27|                 3|     4.845704025841812|             4|         15|         31|               89|                   0|             2|              14|                           Yes|                     Yes|                  Books|
+-------+---+------------------+----------------------+--------------+-----------+-----------+-----------------+--------------------+--------------+----------------+------------------------------+------------------------+-----------------------+
only showing top 5 rows

In [8]:
war_survival_df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Food Supply (Days): string (nullable = true)
 |-- Water per Day (Liters): string (nullable = true)
 |-- First Aid Kits: string (nullable = true)
 |-- Antibiotics: string (nullable = true)
 |-- Painkillers: string (nullable = true)
 |-- Weapons Available: string (nullable = true)
 |-- Defensive Structures: string (nullable = true)
 |-- Training Level: string (nullable = true)
 |-- Radios Available: string (nullable = true)
 |-- Access to Reliable Information: string (nullable = true)
 |-- Support Groups Available: string (nullable = true)
 |-- Entertainment Available: string (nullable = true)

## Medium

### Data Cleaning and Transformation:

In [9]:
# Convert the 'Age', 'Food Supply (Days)', 'Water per Day (Liters)', and other relevant columns to appropriate numeric data types.
cleaned_df = (
    war_survival_df
    .withColumn('Age', f.col('Age').cast(t.IntegerType()))
    .withColumn('Food Supply (Days)', f.col('Food Supply (Days)').cast(t.IntegerType()))
    .withColumn('Water per Day (Liters)', f.col('Water per Day (Liters)').cast(t.FloatType()))
    .withColumn('First Aid Kits', f.col('First Aid Kits').cast(t.IntegerType()))
    .withColumn('Antibiotics', f.col('Antibiotics').cast(t.IntegerType()))
    .withColumn('Painkillers', f.col('Painkillers').cast(t.IntegerType()))
    .withColumn('Weapons Available', f.col('Weapons Available').cast(t.IntegerType()))
)
cleaned_df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Food Supply (Days): integer (nullable = true)
 |-- Water per Day (Liters): float (nullable = true)
 |-- First Aid Kits: integer (nullable = true)
 |-- Antibiotics: integer (nullable = true)
 |-- Painkillers: integer (nullable = true)
 |-- Weapons Available: integer (nullable = true)
 |-- Defensive Structures: string (nullable = true)
 |-- Training Level: string (nullable = true)
 |-- Radios Available: string (nullable = true)
 |-- Access to Reliable Information: string (nullable = true)
 |-- Support Groups Available: string (nullable = true)
 |-- Entertainment Available: string (nullable = true)

### Aggregation and Analysis:

In [15]:
# Calculate the average age of individuals in the dataset.
# Find the total number of first aid kits, antibiotics, and painkillers available across all individuals.
# Determine the average number of weapons available per person.

summary_df = (
    cleaned_df
    .agg(f.avg('Age')
         , f.sum('First Aid Kits').alias('total_first_aid_kits')
         , f.sum('Antibiotics').alias('total_Antibiotics')
         , f.sum('Painkillers').alias('total_Painkillers')
         , f.avg('Weapons Available').alias('avg_Weapons_Available')
        )
    
)
summary_df.show()

+--------+--------------------+-----------------+-----------------+---------------------+
|avg(Age)|total_first_aid_kits|total_Antibiotics|total_Painkillers|avg_Weapons_Available|
+--------+--------------------+-----------------+-----------------+---------------------+
|  38.489|                5154|             9612|            25105|               47.564|
+--------+--------------------+-----------------+-----------------+---------------------+

## Hard Level

### Advanced Aggregation and Window Functions:

In [23]:
# Calculate the cumulative sum of 'Food Supply (Days)' for each individual, ordered by age.
window_spec = Window.partitionBy().orderBy('Age').rowsBetween(Window.unboundedPreceding, 0)

cumulative_sum_food_supply_df = (
    cleaned_df
    .withColumn('cumulative_sum_food_supply', f.sum('Food Supply (Days)').over(window_spec))
)

cumulative_sum_food_supply_df.show()

24/05/05 16:26:41 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/05/05 16:26:41 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/05/05 16:26:41 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/05/05 16:26:41 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/05/05 16:26:41 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

+-------+---+------------------+----------------------+--------------+-----------+-----------+-----------------+--------------------+--------------+----------------+------------------------------+------------------------+-----------------------+--------------------------+
|   Name|Age|Food Supply (Days)|Water per Day (Liters)|First Aid Kits|Antibiotics|Painkillers|Weapons Available|Defensive Structures|Training Level|Radios Available|Access to Reliable Information|Support Groups Available|Entertainment Available|cumulative_sum_food_supply|
+-------+---+------------------+----------------------+--------------+-----------+-----------+-----------------+--------------------+--------------+----------------+------------------------------+------------------------+-----------------------+--------------------------+
|Michael| 18|                13|             4.3504906|             0|         13|         13|               83|                   7|             3|               2|                            No|                      No|                  Books|                        13|
| Sophia| 18|                13|             1.8430005|             3|         15|         22|               65|                   3|             0|              20|                            No|                      No|                  Books|                        26|
|   John| 18|                 4|             1.3133234|             4|          5|         30|               88|                  10|             3|               3|                            No|                     Yes|                  Books|                        30|
|  James| 18|                29|             4.2264895|             2|          9|         14|               60|                   3|             5|               5|                            No|                      No|                  Games|                        59|
|  James| 18|                 7|             3.4736087|             6|         17|         16|               53|                   5|             0|              17|                            No|                      No|                  Books|                        66|
|  James| 18|                 9|              3.988053|             2|          7|         47|               95|                   3|             2|               5|                           Yes|                      No|                  Books|                        75|
|   John| 18|                24|             3.0236986|             5|          4|          5|               74|                   9|             2|               8|                            No|                      No|                  Games|                        99|
|Michael| 18|                28|             1.5672973|             4|         12|         23|               49|                   2|             2|              12|                           Yes|                      No|                  Books|                       127|
|   Emma| 18|                 1|             3.3860333|             9|         15|          6|               43|                  10|             4|               8|                            No|                     Yes|                  Games|                       128|
|Michael| 18|                22|             3.7111745|             5|         10|         27|               12|                   8|             0|              18|                           Yes|                      No|                  Games|                       150|
| Olivia| 18|                 2|              4.933362|             9|          8|         22|               77|                   8|             0|               1|                           Yes|                     Yes|                  Games|                       152|
|  James| 18|                28|             3.7241302|             9|         14|         29|               89|                  10|             4|               0|                            No|                     Yes|                  Books|                       180|
|Michael| 18|                 3|             3.4791558|             6|          9|         41|               37|                   9|             2|              12|                           Yes|                     Yes|                  Games|                       183|
| Sophia| 18|                 5|             2.8192883|            10|          8|         21|               46|                   5|             4|              18|                            No|                     Yes|                  Books|                       188|
|William| 18|                28|              4.740377|             0|         14|         10|               39|                   9|             4|               1|                            No|                     Yes|                  Books|                       216|
|  James| 18|                26|             2.9137325|             8|         17|         22|               69|                   9|             5|              13|                            No|                      No|                  Games|                       242|
|William| 18|                 6|             1.9913646|            10|         14|         16|               77|                   4|             0|              12|                           Yes|                     Yes|                  Books|                       248|
|  James| 18|                11|             3.7285645|             7|         16|          4|               74|                   4|             3|               6|                            No|                     Yes|                  Books|                       259|
| Olivia| 18|                27|             2.0308716|             5|         19|         42|               48|                   1|             4|              14|                           Yes|                      No|                  Books|                       286|
| Sophia| 18|                 9|             1.8703256|             5|         12|         17|               78|                   7|             2|              14|                           Yes|                     Yes|                  Games|                       295|
+-------+---+------------------+----------------------+--------------+-----------+-----------+-----------------+--------------------+--------------+----------------+------------------------------+------------------------+-----------------------+--------------------------+
only showing top 20 rows

In [24]:
# Compute the rolling average of 'Water per Day (Liters)' for a window of 5 individuals, ordered by age.
window_spec = Window.partitionBy().orderBy('age').rowsBetween(-5, 0)

rolling_avg_water_per_day_df = (
    cleaned_df
    .withColumn('rolling_avg_water_per_day', f.avg('Water per Day (Liters)').over(window_spec))
)

rolling_avg_water_per_day_df.show()

24/05/05 16:32:15 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/05/05 16:32:15 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/05/05 16:32:15 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/05/05 16:32:15 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
24/05/05 16:32:15 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

+-------+---+------------------+----------------------+--------------+-----------+-----------+-----------------+--------------------+--------------+----------------+------------------------------+------------------------+-----------------------+-------------------------+
|   Name|Age|Food Supply (Days)|Water per Day (Liters)|First Aid Kits|Antibiotics|Painkillers|Weapons Available|Defensive Structures|Training Level|Radios Available|Access to Reliable Information|Support Groups Available|Entertainment Available|rolling_avg_water_per_day|
+-------+---+------------------+----------------------+--------------+-----------+-----------+-----------------+--------------------+--------------+----------------+------------------------------+------------------------+-----------------------+-------------------------+
|Michael| 18|                13|             4.3504906|             0|         13|         13|               83|                   7|             3|               2|                            No|                      No|                  Books|        4.350490570068359|
| Sophia| 18|                13|             1.8430005|             3|         15|         22|               65|                   3|             0|              20|                            No|                      No|                  Books|        3.096745550632477|
|   John| 18|                 4|             1.3133234|             4|          5|         30|               88|                  10|             3|               3|                            No|                     Yes|                  Books|       2.5022714932759604|
|  James| 18|                29|             4.2264895|             2|          9|         14|               60|                   3|             5|               5|                            No|                      No|                  Games|        2.933326005935669|
|  James| 18|                 7|             3.4736087|             6|         17|         16|               53|                   5|             0|              17|                            No|                      No|                  Books|       3.0413825511932373|
|  James| 18|                 9|              3.988053|             2|          7|         47|               95|                   3|             2|               5|                           Yes|                      No|                  Books|       3.1991609732309976|
|   John| 18|                24|             3.0236986|             5|          4|          5|               74|                   9|             2|               8|                            No|                      No|                  Games|        2.978028972943624|
|Michael| 18|                28|             1.5672973|             4|         12|         23|               49|                   2|             2|              12|                           Yes|                      No|                  Books|       2.9320784409840903|
|   Emma| 18|                 1|             3.3860333|             9|         15|          6|               43|                  10|             4|               8|                            No|                     Yes|                  Games|        3.277530093987783|
|Michael| 18|                22|             3.7111745|             5|         10|         27|               12|                   8|             0|              18|                           Yes|                      No|                  Games|        3.191644251346588|
| Olivia| 18|                 2|              4.933362|             9|          8|         22|               77|                   8|             0|               1|                           Yes|                     Yes|                  Games|       3.4349364638328552|
|  James| 18|                28|             3.7241302|             9|         14|         29|               89|                  10|             4|               0|                            No|                     Yes|                  Books|        3.390949308872223|
|Michael| 18|                 3|             3.4791558|             6|          9|         41|               37|                   9|             2|              12|                           Yes|                     Yes|                  Games|       3.4668588439623513|
| Sophia| 18|                 5|             2.8192883|            10|          8|         21|               46|                   5|             4|              18|                            No|                     Yes|                  Books|       3.6755239963531494|
|William| 18|                28|              4.740377|             0|         14|         10|               39|                   9|             4|               1|                            No|                     Yes|                  Books|       3.9012479384740195|
|  James| 18|                26|             2.9137325|             8|         17|         22|               69|                   9|             5|              13|                            No|                      No|                  Games|       3.7683409452438354|
|William| 18|                 6|             1.9913646|            10|         14|         16|               77|                   4|             0|              12|                           Yes|                     Yes|                  Books|       3.2780080437660217|
|  James| 18|                11|             3.7285645|             7|         16|          4|               74|                   4|             3|               6|                            No|                     Yes|                  Books|        3.278747101624807|
| Olivia| 18|                27|             2.0308716|             5|         19|         42|               48|                   1|             4|              14|                           Yes|                      No|                  Books|       3.0373664100964866|
| Sophia| 18|                 9|             1.8703256|             5|         12|         17|               78|                   7|             2|              14|                           Yes|                     Yes|                  Games|       2.8792059620221457|
+-------+---+------------------+----------------------+--------------+-----------+-----------+-----------------+--------------------+--------------+----------------+------------------------------+------------------------+-----------------------+-------------------------+
only showing top 20 rows

In [28]:
columns = cleaned_df.columns

null_columns_list = [(c, cleaned_df.filter(f.col(c).isNull()).count()) for c in columns]

for column , count in null_columns_list:
    print(f'{column} \t null--> {count}')

Name 	 null--> 0
Age 	 null--> 0
Food Supply (Days) 	 null--> 0
Water per Day (Liters) 	 null--> 0
First Aid Kits 	 null--> 0
Antibiotics 	 null--> 0
Painkillers 	 null--> 0
Weapons Available 	 null--> 0
Defensive Structures 	 null--> 0
Training Level 	 null--> 0
Radios Available 	 null--> 0
Access to Reliable Information 	 null--> 0
Support Groups Available 	 null--> 0
Entertainment Available 	 null--> 0

In [30]:
# Handle missing values in the dataset. For example, impute missing 'Water per Day (Liters)' values with the median value
# Since there are no missing/null values, lets excercise it using the below sample data:
# Sample data with missing values
data = [
    ("John", 30, 2),   # Name, Age, Water per Day (Liters)
    ("Alice", 25, None),
    ("Bob", 40, 4),
    ("Jane", 35, 5),
    ("Emma", None, 6),
    ("Michael", 55, 7),
    ("Sophia", 50, None)
]

# Create DataFrame
df = spark.createDataFrame(data, ["Name", "Age", "Water per Day (Liters)"])

# Calculate median value for 'Water per Day (Liters)'
median_water_per_day = df.approxQuantile("Water per Day (Liters)", [0.5], 0.25)[0]
print(f'median_water_per_day: {median_water_per_day}')

# Impute missing values with median value
df = df.na.fill({"Water per Day (Liters)": median_water_per_day})

# Show the result
df.show()

median_water_per_day: 5.0
+-------+----+----------------------+
|   Name| Age|Water per Day (Liters)|
+-------+----+----------------------+
|   John|  30|                     2|
|  Alice|  25|                     5|
|    Bob|  40|                     4|
|   Jane|  35|                     5|
|   Emma|NULL|                     6|
|Michael|  55|                     7|
| Sophia|  50|                     5|
+-------+----+----------------------+